.navbar {
  position: fixed;
  background: rgb(241, 235, 235);
  display: block;
  z-index: 9999;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
}

.navbar a,
.navLink {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .navlink:hover {
  /* background: rgb(156, 6, 6); */
  color: white;
  cursor: pointer;
  background: rgb(0, 80, 103);
}

.nav-right {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.body {
  margin-top: 150px;
}

/*Error*/

.error {
  color: red;
  font-weight: 900;
}

/*Forms*/

.form-container {
  border: inset;
  width: 30%;
  height: 150px;
  display: inline-block;
  padding: 50px;
  background-color: lightgray;
  margin-top: 100px;
}

.login-form {
  border: inset;
  margin: 25px;
  margin-bottom: 25px;
  background-color: rgb(0, 80, 103);
  height: 450px;
}

.signup-form {
  border: inset;
  margin: 25px;
  margin-bottom: 25px;
  background-color: rgb(0, 80, 103);
  height: 450px;
}

.signup-page {
  background-color: lightgray;
}

.member {
  border: inset;
  margin: 25px;
  width: 30%;
  height: 25px;
  display: inline-block;
}

.login-page {
  background-color: lightgray;
}

.update-form-container {
  border: inset;
  width: 30%;
  height: 150px;
  display: inline-block;
  padding: 50px;
  background-color: lightgray;
  margin-top: 100px;
}

.update-form {
  border: inset;
  margin: 25px;
  margin-bottom: 25px;
  background-color: rgb(0, 80, 103);
  height: 450px;
}

.update-page {
  background-color: lightgray;
}

/*Map*/

.map-container {
  display: inline-block;
  border: inset;
  padding: 10px;
  background-color: black;
}

.shops-map {
  width: 100%;
  display: inline-block;
  margin: 30px;
}

/* Containers*/

.about-page {
  background-color: lightgray;
}

.bikes-page {
  background-color: lightgray;
}

.meets-page {
  background-color: lightgray;
}

.city-page {
  background-color: lightgray;
  /* border: inset; */
}

.slide {
  border: inset;
  margin: 25px;
  background-color: lightgray;
}

.fade {
  border: inset;
  margin: 25px;
  background-color: lightgray;
}

.home-page {
  background-color: lightgray;
  margin: 25px;
}

.build-center {
  border: inset;
  margin: 25px;
}

.build-aside {
  border: inset;
  margin: 25px;
  width: 300px;
  background-color: lightgray;
}

.build-aside-btn {
  display: grid;
  border: inset;
  margin-top: 40px;
  width: 300px;
  background-color: lightgray;
}

.build-center {
  background-color: lightgray;
}

.profile-wrapper {
  border: inset;
  margin: 25px;
  background-color: rgb(0, 80, 103);
}

.profile-page {
  background-color: lightgray;
}

/* Meetup Pics*/
.slide-wrapper {
  border: inset;
  background-color: rgb(0, 80, 103);
}

.place-meets-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  margin: 25px;
  padding: 25px;
  border: inset;
  background-color: rgb(0, 80, 103);
}

.contents-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
}

.liked-city {
  margin: 25px;
  position: relative;
  text-align: center;
  border: inset;
  background-color: rgb(223, 230, 232);
}

.liked-city img {
  max-width: 30%;
}

.liked-wrapper {
  border: inset;
  margin: 25px;
  background-color: rgb(0, 80, 103);
}

.likes-wrapper {
  margin: 25px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  background-color: rgb(0, 80, 103);
  border: inset;
}

.like-pics {
  margin: 25px;
  position: relative;
  text-align: center;
  border: inset;
  background-color: rgb(223, 230, 232);
}

.like-pics img {
  max-width: 100%;
  position: relative;
}

.bay-area-meets {
  margin: 25px;
  position: relative;
  text-align: center;
  border: inset;
  background-color: rgb(223, 230, 232);

}
/* Meet Grids*/

.about-grid {
  border: inset;
  margin: 25px;
  background-color: lightgray;
}

.about-wrapper {
  border: inset;
  margin: 25px;
  background-color: rgb(0, 80, 103);
}

.place-container {
  margin: 10px;
  padding: 0px;
  border: inset;
  background-color: rgb(0, 80, 103);
}

.meets-wrapper {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(8, 0.5fr);
  background-color: rgb(0, 80, 103);
  /* background-color: black; */
}

.meets-grid {
  display: block;
  margin: 25px;
  position: relative;
  text-align: center;
  color: white;
  /* border: 1px solid black;
  border-radius: 10px; */
  border: inset;
  background-color: lightgray;
  
}

.text-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100px;
  height: 50px;
  font-size: 25px;
}

.meets-grid img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.meets-grid:hover img {
  opacity: 0.3;
}

.build-aside {
  text-align: left;
  padding: 15px;
}

/* .build-center {
  margin-top: 0px;
} */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
